Checks: 'bugprone-*,cert-*,clang-analyzer-*,concurrency-*,cppcoreguidelines-*,hicpp-*,misc-*,modernize-*,performance-*,portability-*,readability-*,
  -cppcoreguidelines-pro-type-cstyle-cast,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-non-private-member-variables-in-classes,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -bugprone-easily-swappable-parameters,
  -misc-non-private-member-variables-in-classes,
  -hicpp-vararg,
  -cppcoreguidelines-special-member-functions,
  -hicpp-special-member-functions,
  -cppcoreguidelines-pro-type-member-init,
  -hicpp-member-init,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -performance-unnecessary-value-param,
  -misc-const-correctness,
  -cppcoreguidelines-pro-type-const-cast,
  -hicpp-signed-bitwise,
  -cert-err58-cpp,
  -hicpp-multiway-paths-covered,
  -cert-dcl50-cpp,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -hicpp-no-array-decay,
  -bugprone-narrowing-conversions,
  -cppcoreguidelines-narrowing-conversions,
  -cert-err33-c,
  -concurrency-mt-unsafe,
  -bugprone-branch-clone,
  -cppcoreguidelines-pro-type-reinterpret-cast,
  -cppcoreguidelines-avoid-c-arrays,
  -hicpp-avoid-c-arrays,
  -modernize-avoid-c-arrays,
  -cppcoreguidelines-avoid-const-or-ref-data-members,
  -misc-use-anonymous-namespace,
  -cppcoreguidelines-avoid-do-while,
  '
WarningsAsErrors: '*'
HeaderFilterRegex: '*'
